{% extends 'base.html' %}

{% block content %}
    <div class="alert alert-info" role="alert">
        <strong>Are you sure? If yes then confir your password please</strong>
    </div>
    {% if validlink %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-info">Confirm</button>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Bad link, have you used this link before? try again please.
        </div>
    {% endif %}
{% endblock %}