{% extends 'base.html' %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Fix the following errors</strong><br>
            {% for  key,value in form.errors.items %}
                {{key}}: {{value.0}}<br/>
            {% endfor %}
        </div>
    {% endif %}
    <form role="form" method="post">{% csrf_token %}
        {{ form.to_email.label }}: {{ form.to_email }}
        {{ form.from_email.label }}: {{ form.from_email }}
        {{ form.subject.label }}: {{ form.subject }}
        {{ form.message.label }}: {{ form.message }}
        <br/>
        <input type="submit" name="send_mail" value="send_mail" class="btn btn-info"/>
        <input type="submit" name="email_message" value="Send EmailMessage" class="btn btn-info"/>
    </form>
{% endblock %}